.LogoTitle {
    //border: 3px solid green; 
    height: 100%;
}

.LogoTitle a{
    width: 100%;
    
    //border: 3px solid green; 
    display: flex;
    height: 100%;
    align-items: center;
    color: green;
}

.LogoTitle a:hover{
    //filter: drop-shadow(0 0 1em #61fb6eaa);
    filter: drop-shadow(0 0 0.7em rgb(119, 177, 32));
    //img {filter: drop-shadow(0 0 1em rgb(119, 177, 32));}
    //h1{text-shadow: 0 0 5px #61fb6eaa;}
    .logo {
        animation: logo-spin infinite 5s linear;
    }

}

.title {
    font-size: 2.2em;
    font-weight: bolder;
    font-family: monospace;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        //animation: logo-spin infinite 15s linear;
    }
}

.logo {
    will-change: filter;
    transition: filter 300ms;
    margin: 0 0.6em;
    height: 75%;
}