.oneartist{
    //border: 3px solid purple;
}

.oneartist img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    //border: 3px solid blue;
}

.oneartist h3{
    text-align: center;
    font-weight: 400;
    font-size: 1.2em;
    margin-top: 0.2em;
}

.artist_button{
    padding: 0;
    margin: 0;
    margin-left: 0.6em;
    background-color: transparent;
}

.artist_button:hover{
    background-color: #383838;
    cursor: cell;
}