.selected_container{
    //border: 3px solid yellow; 
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected_container h2{
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 300;
}