img.rounded{
    object-fit: cover;
    height: 80px;
    width: 80px;
    border-radius: 15%;
    //border: 3px solid blue;
}

.nameOf{
    font-size: 1em;
    font-weight: 300;
    margin-left: 1em;
}

.artist_type{
    max-width: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2%;
    border: 2px solid  rgba(0, 132, 255, 1);
    border-radius: 15px;
    filter: drop-shadow(0 0.2em 1em rgba(0, 132, 255, 1));
}

.song_type{
    max-width: 25vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2%;
    border: 2px solid rgb(230, 12, 131);
    border-radius: 15px;
    filter: drop-shadow(0 0.2em 1em rgb(230, 12, 66));
    overflow: hidden;
}

h3,h4{
    height: 1em;
    line-height: 1em;
    margin: 0.2em 0.5em;
    text-wrap: nowrap;
}

h3{
    font-size:large;
    font-weight: 600;
    color: white;
}

h4{
    font-weight: 500;
    font-size: large;
    color: gray;
}

.artist_type h4{
    display: none;
}