.textbutton{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.textbutton button{
    border-radius: 10px;
    box-shadow: 1px;
    background-color: white;
    display: flex;
    width: 180px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: none;
}

.textbutton button p{
    font-size: 2em;
    font-family:'Segoe UI', Verdana, sans-serif;
    color: black;
    font-weight: 600;
}

.textbutton button:active{
    transform: scale(0.9);
}

.textbutton button:hover{
    //rgb(0, 88, 0);
    filter: drop-shadow(0 0 0.7em rgb(255, 255, 255));
    transform: scale(1.05);
    cursor: pointer;
}

.textbutton button img{
    height: 60%;
    margin-right: 10px;
}